.grid-container {
    height: max-content;
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    alignment: center;
    border-radius: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-row {
    display: flex;
}

.grid-cell {
    background-color: lightblue;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.buttons-display{
    margin: 4%;
    background-color: black;
}
